@mixin make-scrollable {
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: inherit;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: inherit;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 6px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: #ffffff99;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #eb5d9b;
    }
    .inner-scroll {
      scrollbar-width: thin;
    }
  }
}
